Problems:
https://www.programiz.com/python-programming/examples

In [ ]:
from termcolor import colored, cprint

print(colored("hello! Mim!!!",'blue'))
cprint("Hello! Mim!!!",'red')
cprint("Hello! Mim!!!",'yellow')
cprint("Hello! Mim!!!",'green')
cprint("Hello! Mim!!!",'magenta')

hello! Mim!!!
Hello! Mim!!!
Hello! Mim!!!
Hello! Mim!!!
Hello! Mim!!!

In [ ]:
#add two numbers

x = input("enter a num:")
y = input("enter another num:")

sum = float(x) + float(y)

print("sum of {0} and {1} is :{2} ".format(x, y, sum))

enter a num:6
enter another num:4
sum of 6 and 4 is :10.0

In [ ]:
#different method of adding two number  #different printing method

print('The sum is %.1f' %(float(input('Enter first number: ')) + float(input('Enter second number: '))))

Enter first number: 3
Enter second number: 5
The sum is 8.0

In [ ]:
#adding two numbers   #different printing method

x = input("num1 : ")
y = input("num2 : ")
sum = float(x) + float(y)

print("sum is: ", sum)

num1 : 3
num2 : 6
sum is:  9.0

In [ ]:
#adding numbers and printing in a different method

x = input("num1 : ")
y = input("num2 : ")
sum = float(x) + float(y)

print("sum is: %0.2f "%sum)

num1 : 2
num2 : 8
sum is: 10.00

In [ ]:
#finding square root of a number

x = float(input("num: "))

sq_rt = float(x ** 0.5)

print("square root of {0} is: {1}".format(x,sq_rt))

num: 5
square root of 5.0 is: 2.23606797749979

In [ ]:
#finding the square root a number #trying different printing method

x = float(input("num: "))

root = float(x ** 0.5)

print("root of %0.2f is %0.2f"%(x,root))

num: 6
root of 6.00 is 2.45

In [ ]:
#finding power of a number

x = float(input("num: "))

pow = float(x ** 2)

print("power of %0.2f is %0.2f : "%(x, pow))

num: 9
power of 9.00 is 81.00 :

In [ ]:
#multiplication of two numbers

x = float(input("num1 : "))
y = float(input("num2: "))

mul = float(x*y)

print("%0.2f x %0.2f is %0.2f: "%(x,y,mul))

num1 : 12
num2: 65
12.00 x 65.00 is 780.00:

In [ ]:
#area and perimeter of a triangle

a = float(input("side1 : "))
b = float(input("side2 : "))
c = float(input("side3 : "))

per = float(a + b + c)
s = float(per / 2)
area = float((s*(s-a)*(s-b)*(s-c))**2)

print("area of triangle is: %0.2f"%area)

print("perimeter of trianlge is: %0.2f"%per)

side1 : 67
side2 : 34
side3 : 12
area of triangle is: 352825976321.19
perimeter of trianlge is: 113.00

In [ ]:
#area and perimeter of a square

a = float(input("side1 : "))

area = float(a**2)
per = float(4*a)

print("area of a square is %0.2f and perimeter is %0.2f"%(area,per))

side1 : 33
area of a square is 1089.00 and perimeter is 132.00

In [ ]:
#quadratic eqn by taking input
#ax**2 + bx + c = 0
#x = ( -b+- (b ** 2 - 4ac) ** 0.5) / 2a

import cmath

a = int(input("a : "))
b= int(input("b : "))
c= int(input("c: "))

d = (b**2) - (4*a*c)

x1 = (-b+cmath.sqrt(d))/(2*a)
x2 = (-b-cmath.sqrt(d))/(2*a)

print("solution of {0}x^2 + {1}x + {2} is: x is either {3} or {4}".format(a,b,c,x1,x2))

a : 54
b : 23
c: 6
solution of 54x^2 + 23x + 6 is: x is either (-0.21296296296296297+0.25643300785418943j) or (-0.21296296296296297-0.25643300785418943j)

In [ ]:
#quadratic equation #complex maths

import cmath

a = 3
b = 6
c = 2

d = (b**2) - (4*a*c)

x1 = (-b+cmath.sqrt(d))/(2*a)
x2 = (-b-cmath.sqrt(d))/(2*a)

print("solution of {0}x^2 + {1}x + {2} is: x is either {3} or {4}".format(a,b,c,x1,x2))

solution of 3x^2 + 6x + 2 is: x is either (-0.42264973081037427+0j) or (-1.5773502691896255+0j)

In [ ]:
#swapping two numbers

a = input("a : ")
b= input("b : ")

temp = a
a= b 
b = temp

print(" after swapping a is {0} and b is {1} ".format(a,b))

a : 16
b : 05
 after swapping a is 05 and b is 16

In [ ]:
#another method of swapping

a = input("a : ")
b= input("b : ")

a,b = b, a 

print(" after swapping a is {0} and b is {1} ".format(a,b))

a : 45
b : 24
 after swapping a is 24 and b is 45

In [ ]:
#generate random num betn 0 - 9

import random

x = random.randint(0,9)

print("first: ", x)

print("again: ", random.randint(0,9))

first:  6
again:  8

In [ ]:
#generating random number between a given a range

a = int(input("start range: "))
b = int(input("stop range: "))

print("num: ",random.randint(a,b))

start range: 10
stop range: 100
num:  26

In [ ]:
#conversion(km to miles)

x = float(input("enter num: "))

#1km = 0.621371miles
conv_fac = 0.621371
i = x * conv_fac

print("%0.2fkm equals to %0.2fmiles"%(x,i))
print("%0.2fkm equals to %0.2fmiles"%(x,(x*conv_fac)))

enter num: 237
237.00km equals to 147.26miles
237.00km equals to 147.26miles

In [ ]:
#conversion(cm to ft)

n = float(input("enter cm: "))

conv = 0.0328084

i = n * conv

print(n, "cm = ",i, "ft")

enter cm: 3456
3456.0 cm =  113.3858304 ft

In [ ]:
#conversion(celsius to fahrenheit)

x = float(input("enter celsius: "))

tconv_fac = 33.8

faren = x * tconv_fac
celsius = faren / tconv_fac

print("%0.1f celsius equals to %0.1f fahrenheit"%(x,faren))
print("%0.1f fahrenheit equals to %0.1f celsius"%(faren,celsius))

enter celsius: 76
76.0 celsius equals to 2568.8 fahrenheit
2568.8 fahrenheit equals to 76.0 celsius

In [ ]:
#conversion(celsius to kelvin)

n = float(input("enter temp: "))

conv_fact = 273.15

temp = n + conv_fact

print("{0} degree celsius is equals to {1} kelvin".format(n,temp))

enter temp: 34
34.0 degree celsius is equals to 307.15 kelvin

In [ ]:
#check if a Number is Positive, Negative or 0

x = float(input("num : "))

if x > 0:
  print("%0.1f is pos"%x)
elif x < 0:
  print("%0.1f is neg"%x)
else:
  print("%0.1f is zero"%x)

num : 89
89.0 is pos

In [ ]:
#whether a num is odd or Even

x = float(input("num: "))

if (x%2==0):
  print("even")
else:
  print("odd")

num: 37
odd

In [ ]:
#finding which year is a leapyear

year = int(input("enter year: "))

if (year % 4) == 0:
  if (year % 100) == 0:
    if (year % 400) == 0:
      print("leap year")
    else: 
      print("not leap year")
  else: 
    print("leap year")
else: 
  print("not leap year")

enter year: 1995
not leap year

In [ ]:
#determining leap year by defining a function

def leapyr(year):
  if (year%4)==0:
    if (year%100)==0:
      if (year%400)==0:
        return True
      else:
        return False
    else:
      return True
  else:
    return False

year = int(input("enter year: ")) 
if leapyr(year):
  print("leap year")
else:
  print("not leap year")

enter year: 2020
leap year

In [ ]:
#largest num

x = float(input("enter num1: "))
y = float(input("enter num2: "))
z = float(input("enter num3: "))

if (x >= y) and (x>=z):
  print("%0.1f is largest"%x)
elif (y>=x) and (y>=z):
  print("%0.1f is largest"%y)
else:
  print("%0.1f is largest"%z)

enter num1: 64
enter num2: 28
enter num3: 43
64.0 is largest

In [ ]:
#prime or not prime using for...else

x = int(input("enter num: "))

if x > 1:
  for i in range(2,x):
     if (x % i) == 0:
       print("not prime")
       print(i,"times",x//i,"is",x)
       break
  else:
    print("prime")
  
else:
  print("not prime")

enter num: 5
prime

In [ ]:
#factorial of a number using if_else and for loop

num = int(input("num: "))

factorial = 1

if num < 0:
  print("neg num")
elif num == 0:
  print("factorial is 1")
else:
  for i in range(1,num+1):    #the range will stop in num
    factorial = factorial * i
  print("factorial of {0} is {1}".format(num,factorial))

num: 43
factorial of 43 is 60415263063373835637355132068513997507264512000000000

In [ ]:
#finding factorial of a number by defining a function

import math

def factorial(n):
  return (math.factorial(n))

num = int(input("num: "))

print("factorial of {0} is {1}".format(num, factorial(num)))

num: 9
factorial of 9 is 362880

In [ ]:
#printing multi_table

x = int(input("enter num: "))

for i in range(0,11):
  print(x, "x", i, "=", x*i)

enter num: 16
16 x 0 = 0
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160

In [ ]:
#fibonacci series
#0, 1, 1, 2, 3, 5, 8

terms = int(input("terms: "))

n1 = 0
n2 = 1
count = 0

if terms < 0:
  print("num is neg")
elif terms == 1:
  print(n1)
else:
  print("series: ")
  while (count<=terms):
    print(n1)
    x = n1 + n2
    n1 = n2
    n2 = x
    count += 1

terms: 7
series:
0
1
1
2
3
5
8
13

In [ ]:
#getting the nth term of the fibonacci series

def fib(n):
  if n < 0:
    print("neg")
  elif n == 0:
    return 0
  elif n == 1 or n == 2:
    return 1
  else:
    return fib(n-1) + fib(n-2)


n = int(input("enter term "))
print(" {0} st/rd/th term of series is {1} ".format(n,fib(n)))

enter term 16
 16 st/rd/th term of series is 987

In [ ]:
#armstrong number (means e.g. 1634 = 1*1*1*1 + 6*6*6*6 + 3*3*3*3 + 4*4*4*4)

num = int(input("num: "))

l = len(str(num))

sum = 0

temp = num

while temp > 0:
  d = temp % 10
  sum += d ** l
  temp //= 10

if num == sum:
  print("armstrong")
else:
  print("not armstrong")

num: 16661
not armstrong

In [ ]:
#finding the armstrong number between a range

range1 = int(input("num: "))
range2 = int(input("num2: "))
print("armstrong num between {0} and {1} are: ".format(range1,range2))
for num in range(range1,range2+1):


  l = len(str(num))

  sum = 0

  temp = num

  while temp > 0:
    d = temp % 10
    sum += d ** l
    temp //= 10

  if num == sum:
    print(num)

num: 10
num2: 10000
armstrong num between 10 and 10000 are:
153
370
371
407
1634
8208
9474

In [ ]:
#sum of natural num using while loop

from time import time

starting= time()

num = float(input("num: "))

sum = 0

while num > 0:
  sum = sum + num
  num = num - 1

print(sum)

ending = time()
tt = ending - starting
print("elapsed time: ",tt)

num: 87356920
3815615779621660.0
elapsed time:  24.343109846115112

In [ ]:
#sum of natural numbers using for loop

stt001 = time()

num = int(input("num: "))

sum = 0

for i in range(0,num+1):
  sum = sum + i

print(sum)

end001 = time()

time0_1 = end001 - stt001

print("time: ",time0_1)

num: 87356920
3815615779621660
time:  15.559194326400757

In [ ]:
#sum of digits by defining function and using while loop

def sum(n):
  sum = 0
  while (n!=0):
    sum = sum + (n%10)
    n = n//10
  return sum

n = int(input("num: "))
print(sum(n))

num: 23456
20

In [ ]:
#sum of digits by defining function and using for loop

def sum(n):
  sum = 0
  for i in str(n):
    sum += int(i)
  return sum

n = int(input("num: "))
print("sum: ",sum(n))

num: 367
sum:  16

In [ ]:
#power of a number using anonymous function

n = int(input("terms: "))

pow = list(map(lambda x: 2 ** x,range(n)))

for i in range(n):
  print("2 to the power", i, "is: ",pow[i])

terms: 4
2 to the power 0 is:  1
2 to the power 1 is:  2
2 to the power 2 is:  4
2 to the power 3 is:  8

In [ ]:
#printing the powers of a number

n = int(input("terms: "))
num = int(input("num: "))
pow = list(map(lambda x: num ** x,range(n)))

for i in range(n):
  print(num,"to the power", i, "is: ",pow[i])

terms: 3
num: 3
3 to the power 0 is:  1
3 to the power 1 is:  3
3 to the power 2 is:  9

In [ ]:
#multiplication table

#n = input("num: ")

tab = [lambda x=x: x*2 for x in range(0,11)]

for table in tab:
  print(table())

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
#printmax

a = input("num1: ")
b = input("num2: ")

ma = lambda a,b: a if (a>b) else b

print(ma(a,b))

num1: 34
num2: 65
65

In [ ]:
#finding max using "max" function

a = input("num1: ")
b = input("num2: ")

print(max(a,b))

num1: 112
num2: 4556
4556

In [ ]:
#printmin

a = input("num1: ")
b = input("num2: ")

mi = lambda a,b: a if(a<b) else b

print(mi(a,b))

num1: 908
num2: 453
453

In [ ]:
#print min using "min" function

a = input("num1: ")
b = input("num2: ")

print(min(a,b))

num1: 56
num2: 16
16

In [ ]:
#nums divisible by another num in a particular range

n1 = int(input("start range: "))
n2 = int(input("stop range: "))
x = int(input("divisor: "))
print("num divisible by",x,"from",n1,"to",n2, "are:")
for i in range(n1,n2+1):
  if (i%x) == 0:
    print(i)

start range: 10
stop range: 100
divisor: 4
num divisible by 4 from 10 to 100 are:
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96
100

In [ ]:
#numbers divisible by other number

list12 = [10,12,34,56,92,45,23,80,30,75,48]

d = int(input())
div = list(filter(lambda x: (x % d == 0), list12))
print(div)

5
[10, 45, 80, 30, 75]

In [ ]:
#finding numbers divisible by another number by taking inputs

list1 = []

n = int(input("enter num of elements to put in list: "))
print("list: ")

for i in range(0,n):
  num = int(input())
  list1.append(num) #to insert elements in the list
d = int(input("enter divisor: "))
div = list(filter(lambda x: (x % d == 0),list1))
print(div)

enter num of elements to put in list: 5
list:
2
5
1
0
5
enter divisor: 3
[0]

In [ ]:
#creating list

my_list = [int(item) for item in input("Enter the list items : ").split()]

Enter the list items : 1 3 5 6

In [ ]:
#dec to bin, hex, oct

dec = int(input("enter decimal value: "))

b = bin(dec)
h = hex(dec)
o = oct(dec)

print(dec,"in bin: ",b)
print(dec,"in hex: ",h)
print(dec,"in oct: ",o)

enter decimal value: 138664
138664 in bin:  0b100001110110101000
138664 in hex:  0x21da8
138664 in oct:  0o416650

In [ ]:
#ascii value

n =input()

i = ord(n)

print("ascii value of",n,"is: ",i)

t
ascii value of t is:  116

In [ ]:
n = 116
print(chr(n))

print(chr(ord('S')+1))

t
T

In [ ]:
#ascii

for i in range(0,6):
  n = input()
  asc = ord(n)
  print(asc)

t
116
a
97
h
104
m
109
i
105
m
109

In [ ]:
#reversing string (color is just for fun)
from termcolor import colored

i = 'mimi'

rev = list(reversed(i))

print(colored(rev,'yellow'))

['i', 'm', 'i', 'm']

In [ ]:
#HCF

import math

a = int(input())
b = int(input())

x = math.gcd(a,b)

print("HCF of",a,"and",b,"is:",x)

347
987
HCF of 347 and 987 is: 1

In [ ]:
#HCF

def hcf(x,y):
  if x<y:
    sml = x
  else:
    sml = y
  for i in range(1,sml+1):
    if(x % i == 0) and (y % i == 0):
      res = i
  return res

#hcf(47,34)
a3 = int(input())
b3 = int(input())
hcf(a3,b3)

56
29

1

In [ ]:
#LCM

def lcm(x,y):
  if x>y:
    grt = x
  else:
    grt = y

  while(True):
    if (grt % x == 0) and (grt % y == 0):
      res = grt
      break
    grt = grt + 1
  return res

a1 = int(input())
b1 = int(input())
lcm(a1,b1) 
#lcm(50,250)

24
56

168

In [ ]:
#factors

num = int(input("enter num: "))
print("factor of",num,"are:")
for i in range(1,num+1):
  if (num%i)==0:
    print(i)

enter num: 50
factor of 50 are:
1
2
5
10
25
50

In [ ]:
#getting the factors of a number by defining a function

def factor(num):
  for i in range(1,num+1):
    if num%i == 0:
      print(i)

n = int(input("Enter num to get factor:"))
factor(n)

Enter num to get factor:16
1
2
4
8
16

In [ ]:
#calculator
from termcolor import colored

print(colored("***THIS IS A CALCULATOR***",'red'))
print("\n")
print("The operators are: ")
print(colored("ADD:1",'blue'))
print(colored("SUB:2",'green'))
print(colored("MUL:3",'yellow'))
print(colored("DIV:4",'red'))
print("")
while True:
   x = input("Enter an option from (1,2,3,4):")
   print("")
   if x in ('1','2','3','4'):
     n1 = float(input("Enter 1st operand:"))
     n2 = float(input("Enter 2nd operand:"))
     print(" ")

     if x == '1':
       print(n1,"+",n2,"=",n1+n2)
     elif x == '2':
       print(n1,"-",n2,"=",n1-n2)
     elif x == '3':
       print(n1,"*",n2,"=",n1*n2)
     elif x == '4':
       print(n1,"/",n2,"=",n1/n2)
     break
   else:
     print(colored("err",'red'))

***THIS IS A CALCULATOR***


The operators are:
ADD:1
SUB:2
MUL:3
DIV:4

Enter an option from (1,2,3,4):1

Enter 1st operand:5
Enter 2nd operand:9

5.0 + 9.0 = 14.0

In [ ]:
#shuffle cards
import itertools, random

cards = list(itertools.product(range(1,14),['Heart','Diamond','Clubs','Spade'])) #itertools.products will give cartesian products #range(1,14) as it will give the cards in range of only the 13 numbers excluding Ace

random.shuffle(cards) #toshufflerandomly

#for i in range(3):
#  print(cards[i][0], "of", cards[i][1])
print(cards[i][0], "of", cards[i][1])

4 of Diamond

In [ ]:
#calendar
import calendar

y = 2022
m = 2

print(calendar.month(y,m))
#print(calendar.month(2020,2))

   February 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28

In [ ]:
#fibonacci using recursion
# 0 1 1 2 3 5
def fib(num):
  if num == 0:
    return 0
  elif num == 1:
    return 1
  else:
    return fib(num-1) + fib(num-2)
n = int(input("enter no. of terms:"))
for i in range(n):
  print(fib(i))

enter no. of terms:5
0
1
1
2
3

In [ ]:
#sum of numbers using recursion

def sum(num):
  if num == 0:
    return 0
  else:
    return num + sum(num-1)

n = int(input())

print("sum =",sum(n))

16
sum = 136

In [ ]:
#factorial using recursion

def fact(num):
  if num < 0:
    return False
  elif num == 0:
    return 1
  else:
    return num * fact(num-1)

n = int(input())

print(fact(n))

16
20922789888000

In [ ]:
#dec to bin using recursion

def dectobin(num):
  
 
n = 34
print(dectobin(n))

In [ ]:
#adding two matrices

x = [[1,5],[3,2]]
y = [[6,2],[0,7]]
res = [[0,0],[0,0]]

for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j] = x[i][j] + y[i][j]

print(res)

for r in res:
  print(r)

[[7, 7], [3, 9]]
[7, 7]
[3, 9]

In [ ]:
#taking input #this will only give you nxn matrix
#r = int(input())

#x = []

#for i in range(r):
#  r1 = []
#  for j in range(r):
#    c1 = int(input())
#    r1.append(c1)
#  x.append(r1)
#for r in x:
#  print(x)

In [ ]:
#multiplying two matrices

x = [[1,5],[3,2]]
y = [[6,2],[0,7]]
res = [[0,0],[0,0]]

for i in range(len(x)):                     #iterate through rows of x
  for j in range(len(y[0])):                #iterate through columns of y
    for k in range(len(y)):                 #itrate through rows of y
      res[i][j] = x[i][k] * y[k][j]

#print(res)

for r in res:
  print(r)

[0, 35]
[0, 14]

In [ ]:
#palindrome str

str1 = list(input())
str2 = list(reversed(str1))

if str1 == str2:
  print("palindrome")
else:
  print("not palindrome")

mim
palindrome

In [ ]:
#just testing things(slicing list)

list001 = [1,2,3,4,5,6,7,8,9,10]

print(list001[::-1])
print(list001[::2])
print(list001[::-2])
l = len(list001)
print(list001[0])
print(list001[l-1])
print(list001[1:l-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]
1
10
[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#palindrome str and num

def pal(s):
  return s == s[::-1]

str=input()
if pal(str):
  print("palindrome")
else:
  print("not")

mimi
not

In [ ]:
#palindrome using recursion

def palindrome(p):
  l = len(p)
  if l < 2:
    return True
  elif  p[0] == p[l-1]:
    return p[1:l-1]
  else:
    return False

str1 = input()

if (palindrome(str1)):
  print("palindrome")
else:
  print("not")

mim
palindrome

In [ ]:
#removing punctuation from string

punc = ',./[]{}()":;?><\!@#$%^&*-+=~`'

string = "hello !!! .... how are you ? .... okay! bye !!!"
n=""
for i in string:
  if i not in punc:
    n = n + i
  else:
    False

print(n)

hello   how are you   okay bye

In [ ]:
#removing punctuation from the string

punc = ',./[]{}()":;?><\!@#$%^&*-+=~`'

string = "hello !!! .... how are you ? .... okay! bye !!!"

n = ""

for i in string:
  if i in punc:
    False
  else:
    n = n + i
print(n)

hello   how are you   okay bye

In [ ]:
#sorting words alphabetically

string0 = "Sorting Ele alphabetically, Let's see"

#so = [words.casefold() for words in string0.split()
so = [words.lower() for words in string0.split()]         #we can use casefold() but better is to use lower()
so.sort()
wo = [string0.split()]
wo.sort()

print(string0.count('e'))  #counting number of alphabet in the string

for s in so:
  print(s, end = " ")
print("")
for w in wo:
  print(w)

5
alphabetically, ele let's see sorting
['Sorting', 'Ele', 'alphabetically,', "Let's", 'see']

In [ ]:
saw = "12345667"
saw1 = "abcdef"

print(saw.isnumeric())  #checking if the string is num or not
print(saw1.isnumeric())

True
False

In [ ]:
#set operations

A = {'1','3','4','7','2'}
B = {'3','9','2'}
C = {'3','8','4','1','0','2'}

A.add('8')
B.add('8')
A.remove('3')

inter = A & B & C
uni = A | B | C


print(inter)
print("")
print(uni)

{'2', '8'}

{'7', '1', '3', '9', '8', '4', '2', '0'}

In [ ]:
#count num of vowels

vowels = ('aeiou')

stro = input().lower()
#stro = stro.lower()

count = {}.fromkeys(vowels,0)   #fromkeys is a dict func returns the dictionary with key mapped with specific value

for s in stro:
  if s in count:
    count[s] += 1
print(count)

iedrjdbavcouerncgftsjsla
{'a': 2, 'e': 2, 'i': 1, 'o': 1, 'u': 1}

In [ ]:
#test

owels = ('aeiou')
cout = {}.fromkeys(owels,0)
print(cout)

{'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

In [ ]:
#merge mails

with open('name.txt','r',encoding = 'utf-8') as namefile: #
  with open('body.txt','r',encoding='utf-8') as bodyfile:
    body = bodyfile.read()
    for name in namefile:
      mail = "Hello" + name.strip() + "\n" + body
      with open(name.strip()+".txt", 'w', encoding='utf-8') as mailfile:
                mailfile.write(mail)

In [ ]:
#pillow i.e python imaging library (PIL) is the image processing package in python

!pip install pillow

Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (7.1.2)

In [ ]:
#all about image

from PIL import Image

img = Image.open(r"/content/Screenshot (7).png")
img.show()    #to print/show the img

In [ ]:
print(img)    #gives the details of the image
print("")
print(img.mode)   #getting the color mode of img
print("")
print(img.size)   #to print the size of img i.e returns a tuple that conains width and height
print("")
print(img.format)   #to get the format of the img

##to rotate the image ->

#ang = 40
#r_img = img.rotate(ang)
#r_img.show()

##to resize the image ->

#size = (width , height)
#sz = (60,90)
#s_img = img.resize(sz)
#s_img.show()

<PIL.PngImagePlugin.PngImageFile image mode=RGBA size=1920x1080 at 0x7FAC7C50B550>

RGBA

(1920, 1080)

PNG

In [ ]:
#finding the resolution of image

img = Image.open(r"/content/Screenshot (7).png")

w,h=img.size

print(w,"x",h)

1920 x 1080

In [ ]:
#another way of finding the resolution of the img

w1 = img.size[0]
h1 = img.size[1]

print(w1,"x",h1)

1920 x 1080

In [ ]:
#we can also find the resolution of the image using OpenCV

import cv2

img1 = cv2.imread("/content/Screenshot (7).png")

print(img1.shape)   #this returns the size of the img as (h,w)

w0 = img1.shape[1]
h0 = img1.shape[0]

print("")
print(w0,"x",h0)

(1080, 1920, 3)

1920 x 1080

In [ ]:
#find hash of a file
#we are doing hash type SHA-1 and MD5

import hashlib

def hash(file):
  h1 = hashlib.sha1()

  with open(file,'rb') as ffl:

    ct = 0
    while ct != b'':
      ct = ffl.read(1024)
      h1.update(ct)
    return h1.hexdigest()

txt = hash("/content/mimimimimi.txt")
print(txt)

952b1414161e50d2d60b68d0967dfa2cb9ccbc77

In [ ]:
def hash1(file1):
  h2 = hashlib.md5()

  with open(file1,'rb') as f:
    ch = 0
    while ch != b'':
      ch = f.read(1024)
      h2.update(ch)
    return h2.hexdigest()

txt2 = hash1("/content/mimimimimi.txt")
print(txt2)

ef80c209a1070741ba8da3cbdefcaa8a

In [ ]:
#making pyramid or triangle pattern

ro = int(input())

for i in range(ro):
  for j in range(i+1):
    print("* ",end = "")
  print("\n")

3
*

* *

* * *

In [ ]:
#printing inverted triangle pattern

r4 = int(input())

for i in range(r4,0,-1):
  for j in range(1,i+1):
    print("* ",end = "")
  print("\n")

3
* * *

* *

*

In [ ]:
#printing pyramid pattern with alphabets

rows = int(input())

a = 65

for i in range(rows):
  for j in range(i+1):
    alph = chr(a)
    print(alph,end="")
  a += 1
  print("\n")

5
A

BB

CCC

DDDD

EEEEE

In [ ]:
#printing pyramid pattern

rows = int(input())

k = 0

for i in range(1, rows+1):
    for j in range(1, (rows-i)+1):
        print(end="  ")
   
    while k!=(2*i-1):
        print("* ", end="")
        k += 1
   
    k = 0
    print()

In [ ]:
#printing diamond pattern

def pat(row):
    n = 0
    for i in range(1,row+1):
      for j in range(1,(row-i)+1):
        print(end= "  ")

      while n != (2*i-1):
        print("*",end= " ")
        n = n + 1
      n = 0
      print()

    k = 1
    n = 1

    for i in range(1,row):
      for j in range(1,k+1):
        print(end = "  ")
      k = k + 1

      while n <= (2*(row-i)-1):
        print("*", end = " ")
        n = n + 1
      n = 1
      print()

#r = 4
pat(3)

In [ ]:
#merging two dictionaries

dict1 = {1 : 'a',2:'b',3:'c',4:'j',5:'g'}
dict2 = {2:'t',7:'s',8:'m'}
dict3 = {1:'t',4:'y'}

print({**dict1, **dict2, **dict3})   # '**' by using this we unpack he dictionaries and then merge them by placing inside the curly brackets{}

{1: 't', 2: 't', 3: 'c', 4: 'y', 5: 'g', 7: 's', 8: 'm'}

In [ ]:
#exception handling

n0 = [0,1,2]

try:
  print(n0[1])

  print(n0[3])
except:
  print("ERR")

1
ERR

In [ ]:
#try_except

try:

  a = 0
  b = 2
  print(b%a)

except Exception as e:
  print(e)

integer division or modulo by zero

In [ ]:
#exception_handling

import sys

n01 = ['a',0,2]

for i in n01:
  try:
    print(i)
    print("reciprocal of",i,"is", 1/int(i))
  except:
    print(sys.exc_info()[0])    #this will throw an exception error message if the item cannot be divided by int
    print()
#print("reciprocal of",i,"is",rec)

a
<class 'ValueError'>

0
<class 'ZeroDivisionError'>

2
reciprocal of 2 is 0.5

In [ ]:
#exception_handling

def num(n1,n2):
  if n1>n2:
    res = n1/n2
  print(res)
try:
  num(4,5)
except:
  print("ERR")

ERR

In [ ]:
#creating nested directory
#we can use pathlib.Path.mkdir

from pathlib import Path

ff10 = Path("root/dir1/dir2").mkdir(parents = True, exist_ok = True)

In [ ]:
#access index of a list using for loop
#using enumerate() as it returns both the values and index from a list

lst22 = [2,3,5,7,1,0,4,10]

for i,j in enumerate(lst22):
  print("index:",i,"value:",j)

index: 0 value: 2
index: 1 value: 3
index: 2 value: 5
index: 3 value: 7
index: 4 value: 1
index: 5 value: 0
index: 6 value: 4
index: 7 value: 10

In [ ]:
#without using enumerate

lst23 = [1,4,8,2,0,12,10]

for v in range(len(lst23)):
  j = lst23[v]
  print("index:",v,"value:",j)

index: 0 value: 1
index: 1 value: 4
index: 2 value: 8
index: 3 value: 2
index: 4 value: 0
index: 5 value: 12
index: 6 value: 10

In [ ]:
#make a flattened list from a nested list

import itertools

lst24 = [[1,2],[10,16,3],[2]]
lst25 = []
#print(lst24)

for val in lst24:
  for num in val:
    lst25.append(num)
print(lst25)

flist = list(itertools.chain(*lst24))
print(flist)

slist = sum(lst24,[])
print(slist)

[1, 2, 10, 16, 3, 2]
[1, 2, 10, 16, 3, 2]
[1, 2, 10, 16, 3, 2]

In [ ]:
#slice list

lst28 = [1,2,3,4,5,6,7,8,9,10]

slst = lst28[1:4]   #it will include index 1 but not 4
slst1 = lst28[4:]
slst2 = lst28[:3]
slst3 = lst28[:]
print(slst)
print(slst1)
print(slst2)
print(slst3)

[2, 3, 4]
[5, 6, 7, 8, 9, 10]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#iterate over dictionaries using for loop
#using items()

dict12 = {1:'t',2:'a',3:'h'}

for i,j in dict12.items():    #items() returns both the key and value
  print(i,j)
print("")
for k in dict12:
  print(k)

1 t
2 a
3 h

1
2
3

In [ ]:
#iterate over dictionaries

dict13= {'a':'aa','b':'bb','c':'cc','d':'dd'}

for i in dict13:
  print(i,dict13[i])

a aa
b bb
c cc
d dd

In [ ]:
#sort a dictionary by value

dict14 = {1:'t',2:'a',3:'h',4:'m',5:'i',6:'m'}

sdict = sorted(dict14.values())
print(sdict)

['a', 'h', 'i', 'm', 'm', 't']

In [ ]:
#sorting dict

dict15 = {'t':'twinkle','a':'aurora','h':'honey','m':'mew','i':'icecream','m':'minie'}

print(sorted(dict15.values()))

['aurora', 'honey', 'icecream', 'minie', 'twinkle']

In [ ]:
#check if a list is empty

lst00 = [2,6,1,0,5]
lst001 = []

print("list 1: ",lst00)
if not lst00:
  print("empty")
else:
  print("not empty")

print("list 2: ",lst001)
if lst001 == []:
  print("empty")
else:
  print("not empty")

list 1:  [2, 6, 1, 0, 5]
not empty
list 2:  []
empty

In [ ]:
lst00 = [2,6,1,0,5]
lst001 = []

print("list1: ",lst00)
if (len(lst00)) == 0:
  print("empty")
else:
  print("not empty")

print("list2: ",lst001)
if not (len(lst001)):
  print("empty")
else:
  print("not empty")

list1:  [2, 6, 1, 0, 5]
not empty
list2:  []
empty

In [ ]:
#catch multiple exceptions in one line

str2 = input()

try:
  i2 = int(input())
  print(str2+i2)

except (TypeError, ValueError) as err:
  print(err)

m
16
can only concatenate str (not "int") to str

In [ ]:
#catching exceptions

try:
  f3 = open("file.txt",'w')
  f3.write("what?")
except IOError:
  print("file not available")
else:
  print("file written done")

file written done

In [ ]:
#exception handling

try:
  f8 = open("text.txt","r")   #it is reading the file here
  f8.write("nothing")     #bt here we are trying to write in the file
except IOError:
  print("err")
else:
  print("done")

err

In [ ]:
#exception handling

try:
  inp = int(input())
  inp2 = int(input())

  div = inp/inp2

except ZeroDivisionError:
  print("ERR")

else:
  print(div)

20
0
ERR

In [ ]:
#exception handling

try:
  inp = int(input())
  inp2 = int(input())

  div = inp/inp2
  print(div)

except ZeroDivisionError:
  print("ERR")

8
0
ERR

In [ ]:
#user defined exceptions

class Error(Exception):   #base class for other exceptions
  pass

class NegValueError(Error):    #
  pass
class BigValueError(Error):
  pass

try:
  inp01 = int(input())
  
  if (inp01 > 5000):
    raise BigValueError

  elif (inp01 < 0):
    raise NegValueError

except BigValueError:
  print("big value err")

except NegValueError:
  print("neg value err")

-6
neg value err

In [ ]:
#another user defined exception

class Error(Exception):
  pass
class LargeValueError(Error):
  pass
class SmallValueError(Error):
  pass

num = 50

while(True):

  try:
    inp9 = int(input())

    if (inp9>num):
      raise LargeValueError
    elif (inp9<num):
      raise SmallValueError
    break

  except LargeValueError:
    print("value too large")
  except SmallValueError:
    print("Value too small")

print("correct")

15
Value too small
70
value too large
36
Value too small
67
value too large
40
Value too small
60
value too large
50
correct

In [ ]:
#exception handling

try:
  num7 = int(input())
except ValueError:
  print("ERR")

d
ERR

In [ ]:
#exception handling

import os

try:
  makedirs("root/dir1/dir2")
except:
  print("File Exist")

File Exist

In [ ]:
#copy a file
#we can copy a file using copyfile(), copy(), copyfileobj()

from shutil import copyfile

copyfile("/content/nop.txt","/content/name.txt")    #the contents of 1st file will be copied to 2nd file

'/content/name.txt'

In [ ]:
#concatenate two lists
#we can use 'list1.extend(list2)' here all the elements of list 2 will be added to list1

a = [1,3,7]
b = [9,0,17]

a.extend(b)
print(a)

c = ['a','b','c']
d = [1,5,10]

print(c+d)

print(*c,*d)

[1, 3, 7, 9, 0, 17]
['a', 'b', 'c', 1, 5, 10]
a b c 1 5 10

In [ ]:
#check if a key is already present in a dict

d01 = {1:'m',2:'i',3:'m'}

#inp = input()

if 2 in d01:      #if the key '2' exists or not in the dict
  print("exist")
else:
  print("nop")  

if 'a' in (d01.values()):   #if the value 'a' exists or not in the dict
  print("ya")
else:
  print("na")

exist
na

In [ ]:
#split a list into evenly sized chunks i.e. equal blocks/groups/sets
#chunks means blocks

import numpy as np

l = [1,2,3,4,5,6,7,8,9]

a = np.array_split(l,3)     #3 represents the number of split or chunks i want to make
print(a)

[array([1, 2, 3]), array([4, 5, 6]), array([7, 8, 9])]

In [ ]:
#splitting list by defining a func

def sp(lst,chunks):
  for i in range(0,len(lst),chunks):   #that means the range will be in between 0 to length of the list and chunks will define the steps
    yield lst[i:i+chunks]     #this will return the i-index and the (i + 1)-index of the list  #lst[i:i+chunks] this means that the index of the list from i to i+chunks

l1 = [4,7,9,2,0,4,2,12,90]
chunks = 2

print(list(sp(l1,chunks)))

[[4, 7], [9, 2], [0, 4], [2, 12], [90]]

In [ ]:
#parse a string to a float or int

#i0 = 10
i1 = "10"   #here '10' is passed as a str
i2 = int(i1)
i3 = float(i1)

#print(type(i0))
print(type(i1))
print(type(i2))
print(i2)
print(type(i3))
print(i3)

<class 'str'>
<class 'int'>
10
<class 'float'>
10.0

In [ ]:
#print colored text to the terminal

from termcolor import colored

print(colored("mimi",'blue'))
print(colored("bye",'red'))
print(colored('not good','yellow'))
print(colored("ops!",'green'))
print(colored('cash! cash!','magenta'))

mimi
bye
not good
ops!
cash! cash!

In [ ]:
#print colored text

from termcolor import colored, cprint

txt0 = colored("yaayy",'red','on_white', attrs=['bold'])

print(txt0)
print(colored("bye!!!",'magenta','on_cyan',attrs=['bold']))

cprint('hey','red',attrs=['reverse','blink'])
cprint("bleh",'yellow')
pnp = lambda x: cprint(x,'blue')
pnp("bye")

pnp2 = lambda y: cprint(y,'green')
pnp2("lalalla")
pnp2("?????")
pp = lambda p: cprint(p,'magenta')
pp('good bye')

yaayy
bye!!!
hey
bleh
bye
lalalla
?????
good bye

In [ ]:
#string to datetime
from datetime import datetime

strng1 = 'Nov 08 2021 12:10PM'

dt = datetime.strptime(strng1, '%b %d %Y %I:%M%p')

print(dt)

strng2 = '12:30PM Nov 11 2021'
dt2 = datetime.strptime(strng2, "%I:%M%p %b %d %Y")
print(dt2)

2021-11-08 12:10:00
2021-11-11 12:30:00

In [ ]:
#string to datetime using parse()

from termcolor import colored,cprint
from dateutil import parser

strng3 = '12:30PM Nov 11 2021'
dt3 = parser.parse(strng3)
cprint(dt3,'red')

print(colored(parser.parse("Nov 08 2021 12:37PM"),'blue'))

2021-11-11 12:30:00
2021-11-08 12:37:00

In [ ]:
#get the last element from the list

lst11 = [0,1,2,3,4,5,6,7,8,9]

print(lst11[-1])    #index counting from backward for the neg 
#print(lst11[-7])
print(lst11[-2])

9
3
8

In [ ]:
#get substring of a string
#we can use slicing to get the substring

strng5 = 'i am nobody'

print(list(strng5))
print(strng5[2:])
print(strng5[5:])
print(strng5[:2])

['i', ' ', 'a', 'm', ' ', 'n', 'o', 'b', 'o', 'd', 'y']
am nobody
nobody
i

In [ ]:
#print output without a newline

print('this is a line.',end=" ")
print('okay bye')

this is a line. okay bye

In [ ]:
#read a file line by line into a list

with open("/content/drive/MyDrive/random.csv") as ff:
  lff = list(ff)
  print(len(lff))

10001

In [ ]:
#read a file line by line into a list

with open("/content/name.txt") as ff1:
  lff1 = list(ff1.readlines())    #readlines() is used to read a file line by line
  print(lff1)

['mail file\n', '\n', 'dfkjgbdsgf,dgsifykdbvjdbveydagufewkhfksjdvbdhgvikygesfbvwekjfc\n', '\n', 'fbehsdbc\n', 'rekgjerio\n', 'ocvjfojv\n']

In [ ]:
#reading file line by line into list using for loop
with open("/content/name.txt") as ff2:

In [ ]:
#randomly select element from list

import random

lst = []

n = 5
print("Add 5 items in the list: ")
for i in range(0,n):
  num = int(input())
  lst.append(num)

x = random.choice(lst)
print("num:",x)

Add 5 items in the list:
1
8
2
5
9
num: 2

In [ ]:
#if a string is a num

def floatnum(x):
  try:
    float(x)
    return True
  except ValueError:
    return False

n = input()
print(floatnum(n))

3475
True

In [ ]:
#occurence of items

lst00 = [2,2,4,5,16,5,8,17,26,2,16,8,3,90,47,16,95,3,5,9,10,10]

n = 5
print("the list is:",lst00)
#for i in range(0,n):
#  num = int(input())
#  lst.append(num)
x = int(input("which item to find:"))
print(x, "occurs", lst00.count(x), "times in the list")

the list is: [2, 2, 4, 5, 16, 5, 8, 17, 26, 2, 16, 8, 3, 90, 47, 16, 95, 3, 5, 9, 10, 10]
which item to find:2
2 occurs 3 times in the list

In [ ]:
#append file

f = open("/content/mimimimimi.txt",'a')

f.write("Hi!!! MiM!!!")
f.write("BYE!!!")

f.close()

In [ ]:
f = open("/content/mimimimimi.txt",'r')

print(f.read())

f.close()

pickabooooo !!!Hi!!! MiM!!!BYE!!!

In [ ]:
#del/add/get ele from dict

dictionary = {1:'a', 2:'b', 3:'c', 4:'d', 5:'e', 6:'f', 7:'g', 8:'h'}
print(dictionary)

dictionary.pop(5)
#print(dictionary)
del dictionary[2]
#print(dictionary)
dictionary['13'] = 'm'
#print(dictionary)
dictionary['9'] = 'i'
#print(dictionary)
dictionary['20'] = 't'
del dictionary[6]
print(dictionary)

print(dictionary.get('13'))

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g', 8: 'h'}
{1: 'a', 3: 'c', 4: 'd', 7: 'g', 8: 'h', '13': 'm', '9': 'i', '20': 't'}
m

In [ ]:
#multiline string

st = "blah" + "!!!" + "\n" + "yo" + "!!!"

st1 = ("behbjkbfwkrfbrkjhfwrejkg\njefbjhregbjhergb\nrjgbhrgbjhgbtg")

#st3 = "nfrjgbekjrhfse,mdfncfvhbrhgmbfbvrmb"
print(st)
print(st1)
#print(st3, end = '')

blah!!!
yo!!!
behbjkbfwkrfbrkjhfwrejkg
jefbjhregbjhergb
rjgbhrgbjhgbtg

In [ ]:
#get file extension
from pathlib import Path
import os

f = Path("/content/mimimimimi.txt")
f1 = Path("mim.bleh")
f2 = os.path.splitext("tingting.ting")

print(f.suffix)
print(f1.suffix)
print(f2[1])

.txt
.bleh
.ting

In [ ]:
#list into dict
from time import time

strt = time()

lst010 = []
lst020 = []

x = 2
y = 2

for i in range(0,x):
  ele1 = input()
  lst010.append(ele1)

print(lst010)

for j in range(0,y):
  ele2 = input()
  lst020.append(ele2)

print(lst020)

d = dict(zip(lst010,lst020))
print(d)

end = time()
etime=end-strt
print("time elapsed: ",etime)

6
3
['6', '3']
2
7
['2', '7']
{'6': '2', '3': '7'}
time elapsed:  12.85547947883606

In [ ]:
import time

time.gmtime()
#time.gmtime(0)

time.struct_time(tm_year=2021, tm_mon=10, tm_mday=28, tm_hour=9, tm_min=59, tm_sec=13, tm_wday=3, tm_yday=301, tm_isdst=0)

In [ ]:
t = time.time()

time.ctime(t)

'Thu Oct 28 09:59:15 2021'

In [ ]:
#elapsed time [end t - start t] {calculates the time needed to run a program}

strt = time.time()

a = 5
b = 16
s = a + b

end = time.time()
etime = end - strt
print(etime)

0.00016927719116210938

In [ ]:
#class

class cls:
  at1 = 'ting'
  at2 = 'tingting'

cls1 = cls()  
print(cls1.at1)
print(cls1.at2)

ting
tingting

In [ ]:
class abc:              
  def __bcd__(self,name):
    return bcd

ab = abc()

print(ab.__class__.__name__)    #name attribute is used to return the class name

abc

In [ ]:
#difference of type and instance

class bla:
  def bb(self):
    pass

class bla2(bla):
  def aa(self):
    pass

obj1 = bla()
obj2 = bla2()

print(type(obj1) == bla)
print(type(obj1) == bla2)

print(isinstance(obj1, bla))
print(isinstance(obj2, bla))

True
False
True
True

In [ ]:
#trimming whitespace from string #rstrip(), lstrip(), strip()

stt = " djfn "

print(stt.strip()) #will remove whitespace from both side
print(stt.rstrip()) #will remove whitespace from right side
print(stt.lstrip()) #will remove whitespace from the left

djfn
 djfn
djfn

In [ ]:
!pip install libarchive

In [ ]:
#get file name from file path

import os
#from pathlib import path

ff = os.path.basename("/content/mimimimimi.txt")
o1 = os.path.splitext("tingting.txt")
o2 = os.path.splitext(ff)
print("filename and extension:")
print(o1,o2)
print("filename:",end = " ")
print(o1[0],"and",o2[0])
print("file extension:", end = " ")
print(o1[1],"and",o2[1])

filename and extension:
('tingting', '.txt') ('mimimimimi', '.txt')
filename: tingting and mimimimimi
file extension: .txt and .txt

In [ ]:
#enum

from enum import Enum

class col(Enum):
  r = 1
  g = 2
  b = 3

print(col.r)
print(repr(col.r))
print(type(col.r))
print(isinstance(col.r,col))

for c in col:
  print(c)

col.r
<col.r: 1>
<enum 'col'>
True
col.r
col.g
col.b

In [ ]:
from enum import Enum

class movies(Enum):
  hp = 1
  lotr = 2
  narnia = 3

for i in movies:
  print(i.name,i.value)

hp 1
lotr 2
narnia 3

In [ ]:
def nnm():
  a1 = 'just testing'
  a2 = 'def func'
  return (a1,a2)
print(nnm())

('just testing', 'def func')

In [ ]:
#diff betn pop,remove,del in a list

lis3 = [2,6,8,4,3,6,1,7]

print(lis3)
print("pop(3):",lis3.pop(3))  #removes index 3

lis3.remove(8)    #remove the number 8
print("removing(8):",lis3)
del lis3[1]   #removes index 1
print("deleting [1]:",lis3)
print("")

lis4 = [3,4,5,6,7,8,0,1,2]
print(lis4)
del lis4[5:]  #deletes the number from the index 5
print(lis4)
del lis4[:2]  #deletes the number before index 2 (i.e index 0 and 1)
print(lis4)

[2, 6, 8, 4, 3, 6, 1, 7]
pop(3): 4
removing(8): [2, 6, 3, 6, 1, 7]
deleting [1]: [2, 3, 6, 1, 7]

[3, 4, 5, 6, 7, 8, 0, 1, 2]
[3, 4, 5, 6, 7]
[5, 6, 7]

In [ ]:
#find all file with .txt extension inside a directory

import os, glob

os.getcwd()
%cd /content/drive/My\ Drive/   #changing dir

!pwd
os.chdir("random")
ffile = glob.glob("*.txt")

for file in ffile:
    print(file)

In [ ]:
#file creation and modification date

from pathlib import Path
import os.path, time

dd = Path("/content/name.txt")

ddt = time.ctime(os.path.getmtime(dd))    #mtime gives the modification time
ddtt = time.ctime(os.path.getctime(dd))   #ctime gives the metadata change time
print(ddt)
print(ddtt)

Mon Nov  1 05:31:15 2021
Mon Nov  1 05:31:15 2021

In [ ]:
#full path of current working dir

!pwd
print(os.getcwd())

/content/drive/My Drive/random
/content/drive/My Drive/random

In [ ]:
#iterate through two list in parallel

llist1 = [1,2,3,4,5]
llist2 = ['a','b','c','d','e','f']

#for i in llist1:
  #for j in llist2:
    #zip(llist1,llist2)
    #print(i,j)

for i , j in zip(llist1,llist2):
  print(i,j)

1 a
2 b
3 c
4 d
5 e

In [ ]:
#to check file size

from pathlib import Path 

noo = Path("/content/name.txt")

print(noo.stat().st_size)

75

In [ ]:
#check file size 
#printing the file name from file path
#printing all the items in the current dir

import os

noo1 = os.stat("/content/name.txt")

print(noo1.st_size)

print(os.stat("/content/name.txt"))   #os.stat() returns all the info about a file
print(os.path.basename("/content/name.txt"))
os.listdir()

75
os.stat_result(st_mode=33188, st_ino=6553969, st_dev=51, st_nlink=1, st_uid=0, st_gid=0, st_size=75, st_atime=1635760106, st_mtime=1635759149, st_ctime=1635759149)
name.txt

['.config', 'drive', 'name.txt', 'mimimimimi.txt', 'sample_data']

In [ ]:
#reverse number/string

numm = '12344667'
print(numm)

row = list(reversed(numm))
print(row)

strrinf = 'tahmim'

print(strrinf)
row1 = list(reversed(strrinf))
print(row1)

12344667
['7', '6', '6', '4', '4', '3', '2', '1']
tahmim
['m', 'i', 'm', 'h', 'a', 't']

In [ ]:
#sorting a num/str both in order and in reverse

numinf = input()
sow = sorted(numinf,reverse = True)
print(sow)

sow1 = sorted(numinf)
print(sow1)

abcdefghijklmnopqrstuvwxyz
['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [ ]:
#power of a number using pow function

import math

pew = math.pow(3,2)

print(pew)

9.0

In [ ]:
#counting digits in a number

numb = 7362290
countstr = ('mim')
print(len(str(numb)))
print(len(countstr))

numb1 = int(input())
print(len(str(numb1)))

7
3
62647483
8

In [ ]:
#counting digits using loop

numb2 = 2343242002
c = 0
while numb2 != 0:
  numb2 = numb2 // 10
  c += 1
print(str(c))

10

In [ ]:
#testing how sorted and counter func works

ex = 'kijanih'

print("Using Counter: ",Counter(ex))
print("Using sorted: ",sorted(ex))

Using Counter:  Counter({'i': 2, 'k': 1, 'j': 1, 'a': 1, 'n': 1, 'h': 1})
Using sorted:  ['a', 'h', 'i', 'i', 'j', 'k', 'n']

In [ ]:
#anagram using sorted()   #anagram means that the letters of a word can be arranged to make another word i.e listen and silent

def ana(s1,s2):
  if sorted(s1) == sorted(s2):        #the sorted func returns the sorted string and if the string are equal then it is anagram 
    print("yes")
  else:
    print("no")

ss = input()
ss2 = input()
ana(ss,ss2)

mimi
miim
yes

In [ ]:
#anagram using Counter()

from collections import Counter

def anagr(s11,s22):
  if Counter(s11) == Counter(s22):    
    print("yes")
  else:
    print("no")

ss1 = 'silent'
ss21 = 'listen'
anagr(ss1,ss21)

ss12 = 'bad'
ss13 = 'dad'
anagr(ss12,ss13)

yes
no

In [ ]:
#capitalize the first letter of a string

st0 = 'what is on your mind !!!'

cap = st0[0].upper() + st0[1:]
print(cap)

st1 = 'yo girl, wassup!'
print(list(st1))
print(st1[9])
print(st1[0].upper() + st1[1:9] + st1[9].upper() + st1[10:])

What is on your mind !!!
['y', 'o', ' ', 'g', 'i', 'r', 'l', ',', ' ', 'w', 'a', 's', 's', 'u', 'p', '!']
w
Yo girl, Wassup!

In [ ]:
#finding permutation   #all possible words with the letters in a string

from itertools import permutations

str09 = 'mim'

per001 = permutations(str09)    #or per001 = permutations(str09,2)

for i in per001:
  #print(list(i))
  print(i)

('m', 'i', 'm')
('m', 'm', 'i')
('i', 'm', 'm')
('i', 'm', 'm')
('m', 'm', 'i')
('m', 'i', 'm')

In [ ]:
#permutation using recursion

def per(str, i = 0):
  if i == len(str):
    print("".join(str))
  for j in range(i,len(str)):
    wor = [w for w in str]    #all the chars will be stored in wor for each loop
    wor[i],wor[j] = wor[j], wor[i]    #swapped to get different combinations of the str
    per(wor,i+1)

pp = per("mew")
print(pp)

mew
mwe
emw
ewm
wem
wme
None

In [ ]:
#combinations of string using combination function

from itertools import combinations

str009 = 'mim'

comb = combinations(str009,2)
print(comb)
for i in comb:
  print(i)

<itertools.combinations object at 0x7fb4f065c3b0>
('m', 'i')
('m', 'm')
('i', 'm')

In [ ]:
#printing products

from itertools import product

pro = product(str009,repeat=2)

print(pro)

for j in pro:
  print(j)

<itertools.product object at 0x7fb4f065ae10>
('m', 'm')
('m', 'i')
('m', 'm')
('i', 'm')
('i', 'i')
('i', 'm')
('m', 'm')
('m', 'i')
('m', 'm')

In [ ]:
#countdown timer    
#divmod() is a func which takes two parameters i.e. numerator and denominator (x,y) and returns two numbers as quotient and remainder (q,r)

import time

def countime(t):
  
  while (t != 0):       #the loop will continue till the time becomes 0
    min,sec = divmod(t,60)    #divmod to calculate the num of mins and sec
    ctime = '{:2d}:{:2d}'.format(min,sec)   #format of time
    print(ctime, end = "\r")    #'/r' cursor will go back to the starting and will overwrite the previous one
    time.sleep(1)     #this will make the code wait for a sec i.e the execution time will be delayed by a sec
    t = t - 1       
  print("time over")
  
ti = input("enter time in sec:")
countime(int(ti))   #we have to pass the input as int as it is a timer

enter time in sec:5
time over

In [ ]:
#testing divmod()

print(divmod(17,3))   #(numerator,denominator) result is in (quotient,remainder)

(5, 2)

In [ ]:
#num of occurence of a char in a string

chr = input()
#print(chr)
ii = input("enter the item to count ")
print(ii,"is",chr.count(ii),"times in the string")

amarmatha
enter the item to count a
a is 4 times in the string

In [ ]:
#using for loop

cnt = 0

chr1 = 'ttahmim'
inp = 't'

for i in chr1:
  if i == inp:
    cnt += 1

print(cnt)

2

In [ ]:
#remove duplicate element from a string

lst_1 = input()
#print(lst_1)
print(set(lst_1))     #by using set we can remove duplicate char in a string

dhfbgwegfwuedhsakjcbxbvbcbd
{'u', 'b', 's', 'd', 'w', 'a', 'g', 'v', 'k', 'e', 'c', 'x', 'j', 'h', 'f'}

In [ ]:
#remove duplicates from two strings

lst_2 = input()
lst_3 = input()

print(sorted(set(lst_2) ^ set(lst_3)))

dshfgwui
cvbdjfkdgks
['b', 'c', 'h', 'i', 'j', 'k', 'u', 'v', 'w']

In [ ]:
#bytes to string using decode("utf-8")

print(b'\xE2\x9C\x85'.decode("utf-8"))

In [ ]:
#bytes to string

sen = b'mim'
print(sen)
print(type(sen))

sen1 = sen.decode("utf-8")
print(sen1)
print(type(sen1))

b'mim'
<class 'bytes'>
mim
<class 'str'>

In [ ]:
#string utf-8 encode()    #encode() doesn't need any parameter

print("thmm".encode())

b't\xc3\xa4hm\xc3\xafm\xc2\xa4'

In [ ]:
#string utf-8 encoding

cc = 'lgug pythn'
print(cc.encode())

b'l\xc3\x82\xc3\x91gu\xc3\x80g\xc3\xaa pyth\xc3\x95n'

In [ ]:
#anagram
#i.e. the letters of a word that can be arraned to form another word
#e.g fried = fired, silent = listen
#there will be two different word bt the letters will be same

str110 = input()
str120 = input()

#print(sorted(str110))

if (sorted(str110) == sorted(str120)):
  print("anagram")
else:
  print("not anagram")

life
file
anagram

In [ ]:
#lambda function
#lambda arguments: expression
#lambda x: x*2 is nearly same as def(x): return x*2

tt = lambda x,y: x+y

tt(3,4)

lst22 = [1,4,7,0,4,6,2]

tt1 = list(filter(lambda x: x==4, lst22))     #filter() returns the filtered output i.e the values that are true according to the expression

print(tt1)

lst23 = [10,12,15,18,19,26]

tt2 = list(map(lambda x: x*2, lst23))     #map() will return all the values computed according to the expression
print(tt2)

[4, 4]
[20, 24, 30, 36, 38, 52]

In [ ]:
#with map()

lst101 = [4,6,7,9,8,10]
tt = list(map(lambda x: x%2, lst101))
print(tt)

[0, 0, 1, 1, 0, 0]

In [ ]:
#without list and map()

lst102 = [2,3,6,7,11]

tt102 = (lambda x: x%2,lst102)
print(tt102)

(<function <lambda> at 0x7fa24c5d07a0>, [2, 3, 6, 7, 11])

In [ ]:
#more about lambda function
#Filter: filter (lambda parameter: expression, iterable-sequence)
#Map: map (lambda parameter: expression, iterable-sequences)
#Reduce: reduce (lambda parameter1, parameter2: expression, iterable-sequence)

from functools import reduce

strlst = ['apple','butterfly','cat','rabbit']
nlst = [2,5,7,2]

n1 = list(map(lambda x: x.upper(),strlst))
n2 = list(filter(lambda x: 'a' in x,strlst))
n3 = reduce(lambda x,y: x*y,nlst)   #reduce func is used to calculate all the items and gives the output as a single value #it counts from left to right 

print(n1)
print(n2)
print(n3)

['APPLE', 'BUTTERFLY', 'CAT', 'RABBIT']
['apple', 'cat', 'rabbit']
140

In [ ]:
#lambda func continued...

one = (lambda x: x+2) (5)
print(one)
two = (lambda x,y: x+y) (5,2)
print(two)
three = (lambda x, z=1,y=0: x+y+z)(2,y=2) 
print(three)
four = (lambda *args: sum(args)) (1,2,3,6)
print(four)
five = (lambda **kwargs: sum(kwargs.values()))(a=1,b=4,c=6,d=1,e=3)
print(five)

7
7
5
12
15

In [ ]:
#printing unicodes

#0030-0039 : numbers
#098009FF : bangla

print('\u0031'+'\u0036')
print('\u0645','\n')
print('\u09AE'+'\u09C0'+'\u09AE')
print('\u092E'+'\u094C'+'\u092E')
print('\u004D'+'\u0069'+'\u006D')

16




Mim

In [ ]:
#finding mean and standard deviation using numpy

import numpy as np
import pandas as pd
from statistics import stdev

samp = (1,5,6,7,3,2,9,0,1,2,15)
df1 = pd.DataFrame(samp)
m = stdev(samp)
m2 = df1.mean()
std1 = df1.std()

print("using stdev : ",m)
print("datframe one: ",m2)
print("dataframe std : ",std1)

df = pd.Series(data = [1,4,6,3,2,8,9,5])
m1 = df.mean()
print(m1)
std = df.std()
print(std)

using stdev :  4.455843966584272
datframe one:  0    4.636364
dtype: float64
dataframe std :  0    4.455844
dtype: float64
4.75
2.815771906346718

In [ ]:
#.count() method
#.find() method

samp1 = (2,4,5,6,7,8,1,2,3,4,1,2,3)
samp2 = 'how are you ting ting?'
print(samp1.count(2))   #returns the number items you want to count
print(samp2.find('ting'))   #returns the lowest index in the string where it can find the substring

3
12

In [ ]:
#random practice

st = '127fn46skghr93'

res = ''.join([i for i in st if not i.isdigit()])
print(res)

fnskghr

In [ ]:
for i in range(2432,2559):
  j = chr(i)
  print(j,end='  ')